<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <nav>
            <ul>
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                <li><a href="{{ url_for('auth.signup') }}">Signup</a></li>
            </ul>
        </nav>
    </head>
    <body>
        <h1 style="text-align: center;">This is the Homepage</h1>

        <p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Feugiat nibh sed pulvinar proin gravida. Dui nunc mattis enim ut tellus elementum
            sagittis vitae et. Enim nulla aliquet porttitor lacus luctus. Id volutpat lacus laoreet non curabitur gravida arcu
            ac. Dui accumsan sit amet nulla facilisi morbi tempus. Maecenas accumsan lacus vel facilisis. Id eu nisl nunc mi
            ipsum faucibus vitae. Habitant morbi tristique senectus et netus et malesuada fames. Tortor id aliquet lectus proin
            nibh. Viverra accumsan in nisl nisi scelerisque eu. Purus sit amet luctus venenatis lectus magna fringilla urna.
            Semper feugiat nibh sed pulvinar. Volutpat ac tincidunt vitae semper quis lectus. Adipiscing commodo elit at
            imperdiet dui accumsan sit. Mollis aliquam ut porttitor leo a diam sollicitudin tempor id. Nulla posuere
            sollicitudin aliquam ultrices sagittis orci a scelerisque. Dictumst quisque sagittis purus sit amet volutpat
            consequat mauris.</p>
        
        <p style="text-align: center;">Bibendum est ultricies integer quis auctor elit sed vulputate mi. Faucibus purus inmassa
            tempor nec. Dolor purus non enim praesent elementum. Mauris nunc congue nisi vitae suscipit tellus mauris a.
            Rhoncus est pellentesqueelit ullamcorper. Eget lorem dolor sed viverra ipsum nunc aliquet bibendum. Elementum
            integer enim neque volutpat ac tincidunt vitae semper. Elit pellentesque habitant morbi tristique senectus et
            netus et malesuada. Aliquam sem fringilla ut morbi. Sed nisi lacus sed viverra tellus in hac. Morbi tincidunt
            ornare massa eget egestas purus. In vitae turpis massa sed elementum tempus. Mattis aliquam faucibus purus in.
            Arcu cursus vitae congue maurisrhoncus aenean. Nunc non blandit massa enim. Ut sem viverra aliquet eget sit amet.</p>
        
        <p style="text-align: center;">Nulla pharetra diam sit amet nisl suscipit adipiscing bibendum. Amet luctus
            venenatis lectus magna fringilla urna porttitor rhoncus. Dui vivamus arcu felis bibendum. Ut faucibus pulvinar
            elementum integer enim. Tellus orci ac auctor augue mauris augue neque. Sed odio morbi quis commodo odio aenean.
            Velit scelerisque in dictum non. Nunc sed velit dignissim sodales ut eu sem. Erat imperdiet sed euismod nisi porta
            lorem mollis aliquam. Pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu. Etiam sit amet nisl
            purus in mollis nunc. Mi sit amet mauris commodo quis imperdiet massa tincidunt. Vitae suscipit tellus mauris a diam
            maecenas sed enim ut. Sed nisi lacus sed viverra. Semper auctor neque vitae tempus.</p>
        
        <p style="text-align: center;">Malesuada proin libero nunc consequat. Nisl purus in mollis nunc sed id
            semper. Massa ultricies mi quis hendrerit dolor magna eget est. Nulla at volutpat diam ut venenatis tellus in metus
            vulputate. Eget est lorem ipsum dolor sit amet consectetur adipiscing elit. Velit sed ullamcorper morbi tincidunt ornare.
            Sagittis orci a scelerisque purus semper. Purus sit amet luctus venenatis. Sed adipiscing diam donec adipiscing tristique.
            Condimentum vitae sapien pellentesque habitant morbi tristique. Cras fermentum odio eu feugiat pretium nibh ipsum consequat
            nisl. Enim sed faucibus turpis in eu mi bibendum. Lacinia at quis risus sed vulputate odio. At augue eget arcu dictum
            varius duis. Gravida dictum fusce ut placerat orci nulla pellentesque dignissim enim. Egestas dui id ornare arcu odio
            ut. Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Dictum sit amet justo donec enim.
            Massa vitae tortor condimentum lacinia quis vel.</p>
        
        <p style="text-align: center;">Turpis egestas sed tempus urna. Volutpat maecenas volutpat blandit aliquam etiam erat velit
            scelerisque. Elit at imperdiet dui accumsan sit amet nulla facilisi morbi. Porttitor eget dolor morbi non arcu. Augue
            neque gravida in fermentum et sollicitudin ac orci. Sit amet nisl suscipit adipiscing bibendum est ultricies integer.
            Eu ultrices vitae auctor eu augue ut lectus. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis.
            Est velit egestas dui id ornare arcu odio ut. Auctor neque vitae tempus quam pellentesque. A condimentum vitae sapien
            pellentesque habitant morbi tristique senectus. Maecenas pharetra convallis posuere morbi leo urna. Quis blandit
            turpis cursus in. Mattis enim ut tellus elementum sagittis vitae et. Fames ac turpis egestas integer eget aliquet
            nibh. Cursus turpis massa tincidunt dui ut ornare lectus sit. Nunc mattis enim ut tellus elementum. Accumsan in
            nisl nisi scelerisque eu.</p>
    </body>
</html>